@model VieTorism.Models.Sanpham

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tensanpham" />
            <div class="form-group">
                <label asp-for="Tensanpham" class="control-label">Tên sản phẩm : @ViewBag.tensanpham</label>
                <input asp-for="Tensanpham" class="form-control" />
                <span asp-validation-for="Tensanpham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label">Hình ảnh minh họa </label>
                <div class="custom-file">
                    <input asp-for="Anhtailen" class="form-control" type="file" id="formFile" onchange="document.getElementById('anhtailen').src = window.URL.createObjectURL(this.files[0])">
                </div>
                <span asp-validation-for="Anh" class="text-danger"></span>
                <img id="anhtailen" src="Content Images" width="150" height="150" style="border:1px;margin-top:20px;margin-left:120px" />
            </div>
            <div class="form-group">
                <label asp-for="Mota" class="control-label">Mô tả </label>
                <input asp-for="Mota" class="form-control" />
                <span asp-validation-for="Mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Danhgia" class="control-label">Đánh giá</label>
                <input asp-for="Danhgia" class="form-control" />
                <span asp-validation-for="Danhgia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Madanhmuc" class="control-label">Mã danh mục</label>
                <select asp-for="Madanhmuc" class="form-control" asp-items="ViewBag.Madanhmuc"></select>
                <span asp-validation-for="Madanhmuc" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8" style="display:flex;justify-content:space-between">
                    <input type="submit" value="Lưu lại" class="btn btn-success" />
                    <a href="/SanPham/Index" class="btn btn-outline-primary">Quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>


