
@{
    ViewData["Title"] = "Index";
    Layout = "";
}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>VN Torism</title>
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/goid-html/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap"
          rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/goid-html/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/goid-html/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="index.html">
                        @*<img src="~/goid-html/images/logo.png" alt="" />*@
                        <span>
                            VNTorism
                        </span>
                    </a>


                </nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        <section class=" slider_section position-relative">
            <div class="side_heading">
                <h5>
                    V N T O R I S M
                </h5>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-4 offset-md-1">
                        <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                    01
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1">
                                    02
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2">
                                    03
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="3">
                                    04
                                </li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="img-box b-1">
                                        <img src="~/Images/17368691-c8e2-4328-80ff-c22812e1cf65_vuahung.jpg" alt="" />
                                    </div>
                                </div>
                                @*<div class="carousel-item">
                                    <div class="img-box b-2">
                                        <img src="~/goid-html/images/hot-1.png" alt="" />
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="img-box b-3">
                                        <img src="~/goid-html/images/hot-2.png" alt="" />
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="img-box b-4">
                                        <img src="~/goid-html/images/hot-3.png" alt="" />
                                    </div>
                                </div>*@
                            </div>
                            @*<div class="carousel_btn-box">
                                <a class="carousel-control-prev" href="#    " role="button" data-slide="prev">
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>*@
                        </div>
                    </div>
                    <div class=" col-md-5 offset-md-1">
                        <div class="detail-box">
                            <h1>
                                Viet Nam <br>
                                Torism
                            </h1>
                            <p>
                                Website hỗ trợ tìm hiểu lịch sử địa lí các địa phương tại Việt Nam . Hãy chia sẻ rộng rãi đến cộng đồng nếu nó hữu ích !!
                            </p>

                            <div class="btn-box">
                                <a href="/Login/DangNhap/" class="btn-1">
                                    Đăng nhập
                                </a>
                                <a href="/Login/DangKi/" class="btn-2">
                                    Đăng kí tài khoản 
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>

    <!-- about section -->
    <section class="about_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Lịch sử <br>
                                Hào hùng <br>
                                Việt Nam
                            </h2>
                            <hr>
                        </div>
                        <p>
                            Đất nước Việt Nam trải qua hàng nghìn năm văn hiến lịch sử đã phát triển phồn thịnh
                            Tự hào bề dày lịch sử con cháu lạc hồng
                        </p>
                        <a href="">
                            Đọc thêm
                        </a>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="img-box">
                        <img src="https://cdn.vuanem.com/blog/wp-content/uploads/2022/03/canh-dep-thien-nhien-viet-nam.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- dish section -->

    <section class="dish_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="dish_container">
                        <div class="box">
                            <img src="~/Images/754e97b1-99af-408c-ad3b-b6b99edb6970_Trung-Trac-va-Trung-Nhi.jpg" alt="">
                        </div>
                        <div class="box">
                            <img src="~/Images/627932b3-c78d-466b-acfb-957c813d47e7_hanoi.jpg" alt="">
                        </div>
                        <div class="box">
                            <img src="~/Images/9483d0f8-e37c-4093-aa5d-1e0a45500f38_hochiminh.jpg" alt="">
                        </div>
                        <div class="box">
                            <img src="~/Images/e79df0ed-1875-4d96-b0b7-9260aef9a372_thaibinh.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <hr>
                            <h2>
                                Địa Lí <br>
                                phong cảnh <br>
                                Việt Nam
                            </h2>
                        </div>
                        <p>
                            Phong cảnh thiên nhiên Việt Nam hùng vĩ và đẹp mê lòng người. Thu hút vô số du khách đến tham quan trải nghiệm
                        </p>
                        <a href="">
                            Khám phá
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <section class="contact_section layout_padding-bottom ">
        <div class="container">
            <h2>
               Gửi một phản hồi
            </h2>
            <div class="row">
                <div class="col-md-7">
                    <div class="form_container">
                        <form action="Index" method="post">
                            <input type="text" name="Tennguoiphanhoi" placeholder="Tên của bạn">
                            <input type="text" name="Noidung" placeholder="Nội dung phản hồi" >
                            <input type="hidden" name="Trangthai" value="1">
                            @*<input type="text" placeholder="Message" class="message_input">*@
                            <button type="submit" onclick="confirmSendFeedBack()">
                                Gửi
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contact_box">
                        <a href="">
                            <div class="img-box">
                                <img src="~/goid-html/images/location.png" alt="">
                            </div>
                            <h6>
                                Phú Lãm, thành phố Hà Nội
                            </h6>
                        </a>
                        <a href="">
                            <div class="img-box">
                                <img src="~/goid-html/images/call.png" alt="">
                            </div>
                            <h6>
                                (+084) 587282880
                            </h6>
                        </a>
                        <a href="">
                            <div class="img-box">
                                <img src="~/goid-html/images/envelope.png" alt="">
                            </div>
                            <h6>
                                ducvan05102002@gmail.com
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->
    <!-- subscribe section -->

    <section class="subscribe_section">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <label for="subEmail">
                            Nhận ưu đãi 
                        </label>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="box">
                            <input type="email" placeholder="Nhập email của bạn" id="subEmail">
                            <button>
                                Đăng kí
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>


    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>

    <script>
        function openNav() {
            document.getElementById("myNav").classList.toggle("menu_width");
            document
                .querySelector(".custom_menu-btn")
                .classList.toggle("menu_btn-style");
        }
    </script>

    <!-- owl carousel script -->
    <script type="text/javascript">
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 35,
            navText: [],
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });
    </script>

</body>

</html>