@model IEnumerable<VieTorism.Models.Sanpham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="display:flex;flex-direction: row;justify-content:center;flex-wrap:wrap; width:100%;height:100%">
@foreach (var item in Model) {

            <a href="/User/Detail?@item.Tensanpham/"><div class="card" style="width:400px;height:440px;margin:10px">
                <img src="/Images/@Html.DisplayFor(modelItem => item.Anh)" style="max-width:475px;max-height:375px;overflow:hidden;margin:0 auto" class="card-img-top" alt="...">
                <div class="card-body">
                    <div style="display:flex;justify-content:space-between;align-items:flex-start">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Tensanpham)</h5>
                        <div>
                            @Html.DisplayFor(modelItem => item.Danhgia)
                            <i class="fas fa-star" style="color:yellow"></i>
                        </div>
                    </div>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Mota)</p>
                </div>
            </div>
        </a>
}
</div>

            <style>
                a{
                    text-decoration:none;
                    color:black;
                }
                a:hover{
                    transform:scale(1.05);
                }
            </style>