@model MobileStore.Models.DanhMuc

@{
    ViewBag.Title = "Details";
}

<br />
<div>
    <h4 class="text-center">Chi tiết danh mục : @ViewBag.madanhmuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>

    </dl>
</div>
<p>
    <a href="/DanhMuc/Index" class="btn btn-default">Quay lại</a>
</p>