
@{
    ViewData["Title"] = "Loi";
    Layout = "";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div style="padding:50px;align-items:center;justify-content:center">
    <h5 class="alert alert-danger text-center" style="padding:10px">Có một lỗi đã xảy ra !!</h5>
    <br />
    <div style="width:300px;height:300px;display:inline-block" class="alert alert-success">
        <ul>
            <p>Một số lí do bạn đã vi phạm</p>
            <li>Tên trường đã tồn tại</li>
            <li>Bạn đã vi phạm khóa chính</li>
            <li>Kết nối server đã quá hạn</li>
            <li>Bạn không có quyền thay đổi mục đã chọn</li>
        </ul>
    </div>
    <div style="width:340px;display:inline-block;height:300px" class="alert alert-info">
        <ul>
            <p>Bạn có thể khắc phục theo những cách sau</p>
            <li>Phản hồi với admin</li>
            <li>Hãy thay đổi trường giá trị đúng đắn</li>
            <li>Kiểm tra lại giá trị liên kết khóa chính</li>
        </ul>
    </div>
   
</div>
