@{
    ViewData["Title"] ="Trang chủ";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viet Nam Tourism</title>
    <link rel="stylesheet" href="~/foder/style.css">
</head>
<body>
    <div class="hero">
        <video src="~/foder/photo/videobg.mp4" class="back-video" autoplay muted loop></video>
        <nav>
            <img src="~/foder/photo/logo.png" class="logo" alt="">
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="/TrangChu/Login/">Đăng nhập</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="/Admin/ThemPhanHoi/">Phản hồi</a></li>
            </ul>
        </nav>
        <div class="content">
            <h1>Việt Nam Tourism </h1>
            <p > - Website học tập và chia sẻ về lịch sử địa lí địa phương Việt Nam- </p>
            <a href="#">Khám phá ngay</a>
        </div>
    </div>

</body>
</html>